/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*Gemfile.lock
.byebug_history

/test/sample/tmp/
*.sqlite
*.sqlite3
*.log
.rspec_status
gemfiles/*.gemfile.lock

# Macs. Ugh.
.DS_Store