name: Spec CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby: [3.2, 3.3, 3.4]
    env:
      RUBY_VERSION: ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install dependencies
        run: |
          bundle exec appraisal install
      - name: Run rspec
        run: |
          bundle exec appraisal "rake dummy:db:create dummy:db:migrate && rspec"
